.DS_STORE

# Virtual Env
aurore-env/*

# env
*.env

# Pip
Pipfile
Pipfile.lock

#IDE
.vscode/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

### Django ###
*.log
*.pot
*.pyc
__pycache__/

db.sqlite3

# Static
aurore/src/static/
aurore/src/asset/

# Test
aurore/src/.coverage
aurore/src/htmlcov

# Huey queue
redis